/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Proxima Nova', sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
    line-height: 1.7;
    background-color: cadetblue;
    user-select: none;
}